<hello name="{{ name }}"></hello>

<div #el (scroll)="onScroll($event)" class="calendar">
  <!-- <div class="weeks">
    <div class="week" *ngFor="let cal of calendar">
      <span>{{ cal.week }}</span>
      <div class="days">
        <div class="day" *ngFor="let d of cal.days">
          {{ d | date: 'shortDate' }}
        </div>
      </div>
    </div>
    <div class="order-id"></div>
  </div> -->

  <table class="table2 mqtable3">
    <tbody>
      <!-- <tr>
        <th></th>
        <th *ngFor="let days of calendar">{{ days | date: 'shortDate' }</th>
        <th>TUE</th>
        <th>WED</th>
        <th>THU</th>
        <th>FRI</th>
      </tr> -->
      <tr>
        <th></th>
        <th class="day" *ngFor="let day of calendar">
          {{ day | date: 'shortDate' }}
        </th>
      </tr>
      <tr>
        <th>8:00</th>
        <td>13123</td>
        <td>13123</td>
        <td>13123</td>
        <td>13123</td>
        <td>13123</td>
      </tr>
      <tr>
        <th>9:00</th>
        <td>13123</td>
        <td>13123</td>
        <td>13123</td>
        <td>13123</td>
        <td>13123</td>
      </tr>
      <tr>
        <th>10:00</th>
        <td>13123</td>
        <td>13123</td>
        <td>13123</td>
        <td>13123</td>
        <td>13123</td>
      </tr>
      <tr>
        <th>11:00</th>
        <td>13123</td>
        <td>13123</td>
        <td>13123</td>
        <td>13123</td>
        <td>13123</td>
      </tr>
      <tr>
        <th>12:00</th>
        <td>13123</td>
        <td>13123</td>
        <td>13123</td>
        <td>13123</td>
        <td>13123</td>
      </tr>
    </tbody>
  </table>
</div>
